{% extends 'layout/layout.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium quasi illum error dolorum soluta veritatis tempora velit optio quisquam commodi earum iure labore nostrum praesentium, animi unde. Nisi magnam quis quos? Reiciendis optio laudantium, labore dicta cupiditate voluptatum unde magni repellendus doloribus numquam. Possimus quos esse officiis enim adipisci magni aliquam nesciunt molestiae tempore dolores molestias nam ipsum minima cupiditate velit eveniet quis, praesentium iure quam, tempora corporis. Autem ipsa quo magnam! Asperiores repellendus totam animi, blanditiis tenetur dolore nostrum at eligendi porro itaque est neque, voluptate et ipsum perspiciatis minima! Eum id ipsa omnis eveniet vero corrupti fugit iure.</p>
<p>Website create by {{username}}</p>
{% endblock %}